/* GLOBAL */

a {
  color: inherit;
  text-decoration: none;
}

a {
  background:
          linear-gradient(
                  to right,
                  rgba(100, 200, 200, 1),
                  rgba(100, 200, 200, 1)
          ),
          linear-gradient(
                  to right,
                  rgba(255, 0, 0, 1),
                  rgba(255, 0, 180, 1),
                  rgba(0, 100, 200, 1)
          );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  background-size: 0 3px, 100% 3px;
}



/* TYPOGRAPHY */

h1, h2, h3, h5,h6 {
  font-weight: 800;
}

h4 {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 4px;
}

h1 {
  font-size: 20rem;
  line-height: 20rem;
  letter-spacing: -5px;
}

h2 {
  font-size: 5.6rem;
  line-height: 6.8rem;
}

h3, h4, h5, h6 {
  line-height: 2.8rem;
}

h3 {
  font-size: 2.4rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h4 {
  font-size: 2rem;
  letter-spacing: 4px;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.5rem;
  letter-spacing: 3px;
}

/* MAIN LAYOUT */
#app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: darkgrey;
  background-blend-mode: multiply;
  color: var(--white);
}


.more__info {
  height: 50vh;
}

main {
  height: 45vh;
}

.quote-section {
  height: 40vh;
  display: flex;
  align-items: start;
  gap: 1.6rem;
  padding: 5.6rem 16.5rem 0 16.5rem;
}

#quote {
  margin-bottom: 1.4rem;
  font-weight: 400;
}

.quote-content {
  width: fit-content;
  max-width: 50%;
  hyphens: auto;
}

main {
  padding: 5.6rem 16.5rem 0 16.5rem;
  margin-top: auto;
}
.weather-section {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.weather__current {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  text-transform: uppercase;
}

.weather__col {
  display: flex;
  flex-direction: column;
}

.icon {
  padding-left: 1.4rem;
}


.weather__hour {
  margin: 1.6rem 0;
  display: flex;
  align-items: baseline;
  gap: 1.2rem;
}

.time-abbr {
  font-size: 4rem;
  font-weight: 300;
}

.btn > p {
  opacity: 0.5;
  letter-spacing: 5px;
}
.arrow-icon {
  background-color: var(--dark-grey);
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.arrow-icon:hover {
  background-color: #999;
  cursor: pointer;
}

.arrow-up {
  position: absolute;
  display: none;
  background-color: transparent;
}

.arrow-down {
  display: block;
}

/* HIDDEN SECTION WITH MORE INFO */

.more__info {
  display:flex;
  padding: 7.4rem 16.5rem 7.4rem 16.5rem;
}

.time-year {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
}

.vb-light {
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.vb-dark {
  border-right: 1px solid rgba(48, 48, 48, .25);
  -webkit-background-clip: padding-box; /* for Safari */
   background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.pl-9 {
  padding-left: 9.4rem;
}
h6 {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: .9rem;
}
/* BUTTONS */

.refresh-btn {
  background-color: transparent;
  border: none;
 cursor: pointer;
}

.btn {
  margin-top: 2rem;
  width: 15rem;
  height: 5.6rem;
  border-radius: 28px;
  border: none;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bold;
  font-size: inherit;
  display: flex;
  gap: 1rem;
  align-items:center;
  justify-content:center;
  color: #303030;
}

/* UTIL */
.hidden {
  display: none;
}

footer {
  padding: .6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* Background-filter has low support on browsers */

.daytime {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(20px);
  color: var(--dark-grey);
}

.nighttime {
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(20px);
}


/* MEDIA QUERIES */

@media only screen and (max-width: 800px) {

  h1 {
    font-size: 17.5rem;
  }

  h2 {
    font-size: 4rem;
  }

  h4 {
    font-size: 1.8rem;
  }
  h6 {
    font-size: 1.3rem;
    margin-bottom: 0;
  }

  .quote-section, main {
    padding: 6rem 4rem 0 6.4rem;
  }

  .quote-content {
    max-width: 80%;
  }
  main {
    flex-direction: column;
    align-items: start;
    padding-bottom: 6.4rem;
  }

  .time-abbr{
    font-size: 3.2rem;
  }

  .more__info{
    padding: 11rem 0 6.4rem 6.4rem;
  }

  .vb-dark, .vb-light {
    border-right: none;
  }

}

@media only screen and (max-width: 450px){
  h1 {
    font-size: 10rem;
    line-height: normal;
  }
  h2 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  h6 {
    font-size: 1rem;
  }
  .quote-section, main {
    padding: 3.2rem 0 0 2rem;
  }

  main {
    justify-content: normal;
  }

  .time-abbr {
    font-size: 1.5rem;
  }

  .btn {
    height: 3.9rem;
    width: 11.5rem;
  }

  #more-less {
    font-size: 1.2rem;
  }

  .arrow-icon{
    width: 3.2rem;
    height: 3.2rem;
  }

  .more__info {
    padding: 4rem 2.6rem;
    flex-direction: column;
  }

  .time-year{
    width: 100%;
    flex-direction: column;
    gap: 0;
  }

  .individual {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  .pl-9 {
    padding-left: 0;
  }

}